@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h2,
h3,
p {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  padding: 5rem 1.5rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: 320px 320px;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  section {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}

@media (min-width: 1440px) {
  section {
    grid-template-columns: 675px 675px;
  }
}

section > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #0F0223;
  text-transform: uppercase;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  section > h2 {
    grid-column: 1 / span 2;
  }
}

.step > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 5rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #0F0223;
}

@media (min-width: 1024px) {
  .step {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1.5rem;
    max-width: initial;
  }
  .step > span {
    text-align: right;
    font-size: 9rem;
    line-height: 92%;
    width: 200px;
  }
}

.step-description > h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #0F0223;
  line-height: 1.85rem;
  margin-bottom: 0.5rem;
}

.step-description > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  line-height: 109%;
  color: #0F0223;
}

@media (min-width: 1024px) {
  .step-description > p {
    font-size: 21px;
    max-width: 400px;
  }
}

@media (min-width: 1440px) {
  .step-description > p {
    max-width: 500px;
  }
}